.scroll {
  height: 100%;

}

.angular-google-map-container { height: 400px; }

#map {
  width: 100%;
  height: 95%;
}

/*Home Page*/

.home {
  background: url(https://s-media-cache-ak0.pinimg.com/736x/a9/c6/ea/a9c6eace2400bb85fce1bb6f4d6f39d7.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
  color: rgb(228, 33, 18);
  font-family: 'Pacifico', impact;
  font-size: 4em;
}

/*Journey Page*/

#create-journey {
  position: fixed;
  bottom: 8%;
}

#journey #buttons {
  text-align: center;
}

#journey button {
  margin-top: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  height: 3em;
  text-align: center;
}

#camera {
  width: 3em;
}

#add-waypoint, #end-journey {
  width: 10em;
  padding-right: 1em;
}

input {
  width: 17em;
  margin-left: 1em;
  margin-top: 0.5em;
}

#save-journey-desc, #save-wp-desc {
  width: 3em;
}

#edit-journey-desc, #save-journey-desc {
  display: inline-block;
  text-align: center;
}

#add-wp-desc, #save-wp-desc {
  display: inline-block;
  text-align: center;
}

#journey-desc, #wp-desc {
  text-align: center;
}

#journey-desc {
  color: rgb(228, 33, 18);
  font-weight: bold;
}

/*All Journeys Page*/

#journeys p {
  font-size: 1.5em;
  height: 1.5em;
  text-align: center;
}

#all-journeys-buttons {
  text-align: center;
}

#journeys button {
  margin-left: 0.25em;
  margin-right: 0.25em;
  width: 10em;
  padding-right: 1em;
}

/*Journey Waypoints Page*/

h2 {
  text-align: center;
  color: rgb(228, 33, 18);
}

/*Journey Back Page*/

#journey-back p {
  text-align: center;
  margin-top: 1.5em;
  font-size: 1.5em;
  color: #666;
}

#journey-back span, #journey-back #reach-wp {
  color: rgb(228, 33, 18);
}
