<ion-view view-title="All Waypoints">
  <!-- do you want padding -->

  <ion-content class="padding">
    html html

    <p> {{ ctrl.journey.description === '' ? 'journey' : ctrl.journey.description }} </p>

    <ion-list>
      <ion-item class="waypoint" ng-repeat="waypoint in ctrl.allJourneyWaypoints" item="item">
        <img ng-src="{{ waypoint.imgURI }}">
        <span>{{ waypoint.description === '' ? 'waypoint' : waypoint.description }}</span>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
