<ion-view view-title="Journey Back">
  <!-- do you want padding -->
  <ion-content id="journey-back">

    <!-- content goes here -->
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-marker coords="waypoint.coords" idkey="waypoint.id" ng-repeat="waypoint in journey.waypoints" icon='waypoint.icon'>
        </ui-gmap-marker>
        <ui-gmap-circle center="currentLocation.center" radius="100" fill="currentLocation.fill" stroke="currentLocation.stroke" editable="true" visible="true">
        </ui-gmap-circle>
    </ui-gmap-google-map>

    <p>{{reachWaypointNotification}}</p>

    <div ng-if="distanceFromWaypoint === ''">
      <p>Waiting for GPS...</p>
    </div>
    <div ng-if="distanceFromWaypoint !== ''">
      <p id="distance">
        <span>{{distanceFromWaypoint}}</span> to your next waypoint
      </p>
    </div>
  </ion-content>
</ion-view>
