<ion-view view-title="All Journeys">
  <!-- do you want padding -->
  <ion-content>

    <ion-list id="journeys">
      <ion-item class="journey" ng-repeat="journey in allJourneys" item="item">
        <p>
          {{ journey.description === '' ? 'journey ' + journey.id : journey.description }}
        </p>
        <div id="all-journeys-buttons">
          <button class="button button-small button-assertive icon-right ion-android-walk" ng-click="loadJourney({{ journey.id }});">
            Journey Back
          </button>
          <button class="button button-small button-outline button-assertive icon-right ion-ios-location" ng-click="loadJourneyWaypoints({{ journey.id }});">
            All waypoints
          </button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
